<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<style>

   #run{
       width: 85px;
       height: 36px;

   }

   #txt-url {

    width: 50%;
    height: 30px;
    border: 2px solid #4732E7;
    border-radius: 4px;
}
 #title {
    color: #318CE7;
    width:55%;

    height: 30px;
    text-align: left;

}

</style>
</head>


<body>
<center>



        <div>
            <div id="title">
                <p>Please insert the URL from the YouTube video</p>
            </div>
            <form action = 'download/' method = 'GET'>

                <input type="text" name="url" id ="txt-url" autocomplete="off" autofocus>

                <button type="submit" class="btn btn-primary" id = 'run'>Convert</button></a>

            </form>
        </div>

</center>


</body>
</html>
